/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Setting CSS for body */
body{
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
/* CSS for navigation bar */
#navbar{
    background-color: #fff;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    z-index: 10;
}
.logo{
    color: #2d2e32;
    cursor: pointer;
}
#navbar ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    color: #2d2e32;
    font-weight: 600;
    transition: all 0.23s;
}
#navbar ul li a:hover{
    color: #5675f1;
}
/* CSS for home section */
.hero{
    /* border: 2px solid black; */
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}
.section-container{
    /* border: 2px solid black; */
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 4rem;
}
/* .content{
    border: 2px solid red;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
} */
.content{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: relative;
    margin-top: 11rem;
}
.text{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}
.text h1{
    color: #2d2e32;
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.text img{
    position: absolute;
    top: 7.3rem;
    right: 6.2rem;
}
.text p{
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
}
.text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2rem 0;
}
.text span a {
    color: #2d2e32;
    transition: all 0.3s;
}
.text span a:hover{
    color: #5675f1;
}
.profile img{
    width: 23rem;
    height: 25rem;
    position: relative;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite;
}
@keyframes morph{
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
/* CSS for About me section */
.about{
    /* border: 2px solid black; */
    background-color: #fff;
    display: flex;
    position: relative;
    padding: 8rem 0;
}
.about-content{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: relative;
}
.setup{
    position: relative;
}
.work-setup{
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
}
.about-info{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}
.about-info h3{
    color: #5675f1;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
}
.about-info h4{
    color: #2d2e32;
    font-size: 2rem;
    line-height: 1.2;
}
.about-info p{
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4;
}
/* CSS for projects section */
.projects{
    /* border: 2px solid black; */
    background-color: #f9f9f9;
    padding: 8.8rem 0;
    text-align: center;
    position: relative;
}
/* .projects-content{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
} */
.projects-section-header{
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 3px solid #2d2e32;
}
h2{
    font-size: 2.3rem;
    font-weight: 700;
    color: #2d2e32;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.project{
    background: #2d2e32;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: color 0.3s ease-out;
}
.projects-grid a {
    text-decoration: none;
    color: #fff;
}
.project-img{
    width: 100%;
    object-fit: cover;
}
.projects-grid img{
    display: block;
    width: 100%;
}
.project-title {
    font-size: 1rem;
    padding: 1rem 0.5rem;
}
.code {
    color: #5675f1;
    transition: color 0.3s ease-out;
}
.project:hover{
    color: #5675f1;
}
.project:hover .code{
    color: #fff;
}
/* CSS for contact section */
.contact{
    /* border: 2px solid black; */
    background-color: #fff;
    padding: 8.8rem 0;
}
.contact-content{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 4rem;
}
.contact-title h3{
    text-transform: uppercase;
    color: #5675f1;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.contact-title p{
    color: #2d2e32;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.contact-links{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}
.contact-details{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in;   
}
.contact-links a{
    text-decoration: none;
}
.contact-links a span{
    color: #5675f1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 50%;
}
.contact-links a h3{
    color: #2d2e32;
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}
.contact-details:hover{
   top: 10px;
}
/* CSS for footer section */
footer{
    background-color: #2d2e32;
    padding: 2rem 0;
    width: 100%;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section h3{
    color: #fff;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.9rem;
}
.footer-links a{
    text-decoration: none;
    color: #fff;
    font-size: 2.3rem;
    transition: transform 0.2s ease-in;
}
.footer-links a:hover{
    transform: scale(1.2);
}
/* CSS for mobile responsiveness */
@media only screen and (max-width: 900px){
    #navbar{
        flex-direction: column;
        justify-content: center;
        gap: 0.7rem;
    }
    .hero{
        height: auto;
    }
    .content{
        flex-direction: column-reverse;
        gap: 0rem;
        height: auto;
        text-align: center;
        margin-top: 10rem;
    }
    .text{
        text-align: center;
    }
    .text img{
        top: 5rem;
        right: 4rem;
    }
    .text span {
        margin: 2rem auto;
    }
    .profile img{
        width: 19rem;
        height: 21rem;
    }
    .about{
        padding: 8rem 0 4rem 0;
    }
    .about-content{
        gap: 2rem;
        flex-direction: column;
        text-align: center;
    }
    .projects{
        padding: 4rem 0;
    }
    .contact{
        padding: 6rem 0;
    }
    .contact-content{
        gap: 2rem;
    }
    .contact-links{
        gap: 2rem;
    }
}
